[Unit]
Description=Update Gidlight wallpaper periodically

[Timer]
OnStartupSec=10sec
OnUnitActiveSec=30sec
Persistent=true
AccuracySec=1sec

[Install]
WantedBy=timers.target
